{
  "extends": [ "airbnb-base" ],
  "rules": {
    "no-console":"off",
    "no-underscore-dangle": ["error", { "allow": ["_id"] }]
  },
  // add your environment below the extends key, like this:
  "env": {
    "node": true,
    "browser": true
  },
  "plugins": [
    "import"
  ],
  "parserOptions": {
    "ecmaVersion": 6
  }
}